name: Generar Reporte LTV
on:
  push:
    branches: [ main ] # Se activa cada vez que subes cambios a la rama principal

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Descargar repositorio
      uses: actions/checkout@v3

    - name: Configurar Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Instalar librerías
      run: |
        python -m pip install --upgrade pip
        pip install pandas openpyxl

    - name: Ejecutar Script de LTV
      run: python scripts/procesar_ltv.py

    - name: Guardar Reporte generado
      uses: actions/upload-artifact@v4 # Versión actualizada
      with:
        name: reporte-ltv-final
        path: reportes/resultado_ltv.csv